<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject_type.name %>
</p>

<%= link_to 'Edit', edit_subject_type_path(@subject_type) %> |
<%= link_to 'Back', subject_types_path %>
