<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject_category.name %>
</p>

<%= link_to 'Edit', edit_subject_category_path(@subject_category) %> |
<%= link_to 'Back', subject_categories_path %>
