
<form action="/showdate" method="post">
<%= token_tag %>
Enter END date : 
<input type="date" name="endDate" min="2017-01-01"></br></br>
Enter Maximum Days of exams: 
<input type="text" name="days"></br></br>
  <input type="submit" name="Click Me"> 
  </form>