</br></br>


<% arr=Array[] %>


<% d=Array[Date.strptime("2017-02-15", '%Y-%m-%d'),Date.strptime("2017-02-17", '%Y-%m-%d'),Date.strptime("2017-02-10", '%Y-%m-%d')] %>

<b>HoliDays:</b> <%= d  %></br></br>
<h1> End Date:  <%= @endDate%></h1></br></br>
<b>Slots : </b><%= @slots %> </br> </br>
<% i=0 %>
<% temp= @endDate %>


<% begin %>


<% if d.include? temp %>
<% temp=temp - 1.day %>
<% next %>
<% end %>
<% arr.push(temp) %>
  <% temp=temp - 2.day %>
  <% i +=1 %>
<% end while i < @slots %>



<% arr.reverse.each do |j| %>




<%= j %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<% end %>


