<html>
<body>
	<h1 align="center">Time Table Inputs</h1>
	<!--This is the course <%= @c.course_name %>-->
	<form action="/info" method="post">
	<%= token_tag %>
	<fieldset>
	<legend align="center"><b>All Fields Are Mandatory</b></legend>
	<table align="center">
		
		<tr><td>Enter Program Name: </td>
			<td><select name="programme_name">
				  <option value="1">UG</option>
				  <option value="2">Integrated</option>
				  <option value="3">Certificate</option>
				  <option value="4">Internship</option>
				  <option value="5">PG</option>
				  <option value="6">MPhil</option>
				  <option value="7">PhD</option>
				</
				</select>
			</td>
		</tr>

<!-- <tr><td>Enter Course Type: </td>
		<td><select name="course_type">
				  <option value="1">BA</option>
				  <option value="2">LLB</option>
				  <option value="3">MANAGEMENT</option>
				  <option value="4">BCOM</option>
				  <option value="5">BSC</option>
				  <option value="6">MA</option>
				  <option value="7">MCOM</option>
				  <option value="8">MCA</option>
				  <option value="9">LLM</option>
				  <option value="10">MSC</option>
				  <option value="11">MBA</option>
				  <option value="12">MSW</option>
				</
				</select></td>
  </td>
		</tr>

<tr><td>Enter Subject Type: </td>
			<td><input type="text" name="subject_type" value="Theory"></td>
		</tr> -->

<tr><td>Enter End Date: </td>
			<td><input type="date" name="endDate" min="2017-01-01"></td>
		</tr>

<% sem = Semester.all() %>

		<tr>
			<td colspan="2">
					 <fieldset >
                		<legend>Select Semesters for AM ?</legend>
				
                        <% sem.each do |s| %>

                        		<input type="checkbox" name="animal[]" value = <%= s.id %>  /> <%= s.name %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <% end %>
                      </fieldset>
      


			</td>

		</tr>



<tr><td></td><td ><input type="submit" name="Click Me"> </td>
		</tr>

	</table>

	</fieldset>
	</form>
			

</br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>


</body>
</html>